In [452]:
#Importing important libraries
import pandas as pd
import numpy as np

In [453]:
#Lets read the file
file=pd.read_csv("playstore_apps.csv")

In [454]:
#Lets check some data
file.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2884,Google Photos,PHOTOGRAPHY,4.5,10859051.0,Varies with device,1.000000e+09,Free,0.0,Everyone,Photography,06-08-2018,Varies with device,Varies with device
2851,Beauty Makeup – Photo Makeover,PHOTOGRAPHY,4.3,21730.0,19M,1.000000e+06,Free,0.0,Everyone,Photography,23-05-2018,1.6.0,4.0 and up
482,Zoosk Dating App: Meet Singles,DATING,4.0,516801.0,Varies with device,1.000000e+07,Free,0.0,Mature 17+,Dating,02-08-2018,Varies with device,Varies with device
1733,Farm Heroes Saga,GAME,4.4,7614271.0,70M,1.000000e+08,Free,0.0,Everyone,Casual,26-07-2018,5.1.8,2.3 and up
914,STARZ,ENTERTAINMENT,4.3,88185.0,Varies with device,1.000000e+07,Free,0.0,Mature 17+,Entertainment,20-06-2018,Varies with device,Varies with device
10539,FK Vardar,SPORTS,NaN,2.0,26M,1.000000e+01,Free,0.0,Everyone,Sports,20-02-2018,1,4.1 and up
2219,Shopkins World!,FAMILY,4.3,169609.0,34M,1.000000e+07,Free,0.0,Everyone,Arcade;Action & Adventure,13-06-2018,3.6.1,4.1 and up
8281,DC-014,PHOTOGRAPHY,5.0,3.0,16M,5.000000e+02,Free,0.0,Everyone,Photography,14-06-2018,1.0.3,4.1 and up
559,95Live -SG#1 Live Streaming App,DATING,4.1,4953.0,15M,1.000000e+06,Free,0.0,Teen,Dating,01-08-2018,8.7.2,4.2 and up
3508,"Any.do: To-do list, Calendar, Reminders & Planner",PRODUCTIVITY,4.5,298843.0,Varies with device,1.000000e+07,Free,0.0,Everyone,Productivity,05-08-2018,Varies with device,Varies with device

In [455]:
#Lets check the number of rows and columns in dataset
file.shape

(10841, 13)

In [456]:
#Lets check few more details of dataset
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10840 non-null  float64
 4   Size            10841 non-null  object
 5   Installs        10840 non-null  float64
 6   Type            10840 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(4), object(9)
memory usage: 1.1+ MB

In [457]:
#To see total null values in each column
file.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              1
Size                 0
Installs             1
Type                 1
Price                1
Content Rating       1
Genres               0
Last Updated         1
Current Ver          8
Android Ver          3
dtype: int64

In [458]:
#Lets check how many unique values it column contains
file.nunique()

App               9660
Category            34
Rating              40
Reviews           6001
Size               462
Installs            20
Type                 3
Price               92
Content Rating       6
Genres             120
Last Updated      1377
Current Ver       2784
Android Ver         33
dtype: int64

The columns that contains fewer unique values means they are categorical variables.

In [459]:
#Lets check how many duplicate rows are there
file.duplicated().sum()

483

In [422]:
#Now lets check App column as due to error in scraping many charcters in App column has been replaced with other characters 
#mainly by ? symbol

In [460]:
#Lets Check how many such Apps are there having ? character in it
file[file['App'].str.contains('?',regex=False)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
139,Wattpad ?? Free Books,BOOKS_AND_REFERENCE,4.6,2914724.0,Varies with device,100000000.0,Free,0.0,Teen,Books & Reference,01-08-2018,Varies with device,Varies with device
309,Truy?n Vui Tý Qu?y,COMICS,4.5,144.0,4.7M,10000.0,Free,0.0,Everyone,Comics,19-07-2018,3,4.0.3 and up
310,Comic Es - Shojo manga / love comics free of c...,COMICS,3.9,2181.0,10M,100000.0,Free,0.0,Teen,Comics,05-03-2018,1.2.12,4.0.3 and up
313,"?? Comics - Manga,Novel and Stories",COMICS,4.1,12088.0,21M,1000000.0,Free,0.0,Mature 17+,Comics,06-07-2018,2.3.1,4.0.3 and up
321,?Ranobbe complete free? Novelba - Free app tha...,COMICS,NaN,1330.0,22M,50000.0,Free,0.0,Everyone,Comics,03-07-2018,6.1.1,4.2 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10532,Qaraba? FK,SPORTS,NaN,9.0,5.5M,100.0,Free,0.0,Everyone,Sports,01-08-2018,1.14,4.2 and up
10556,FK Željezni?ar Izzy,FAMILY,4.9,119.0,17M,1000.0,Free,0.0,Everyone,Entertainment,18-11-2016,1,4.4 and up
10557,FK ?ukari?ki,SPORTS,NaN,0.0,26M,10.0,Free,0.0,Everyone,Sports,19-02-2018,1,4.1 and up
10565,FK Fotbal T?inec,SPORTS,NaN,0.0,27M,10.0,Free,0.0,Everyone,Sports,18-03-2018,1,4.1 and up
10763,FP ???????? ???????,FAMILY,4.5,922.0,552k,50000.0,Free,0.0,Everyone,Entertainment,20-09-2014,1.1,1.6 and up

In [461]:
#Removing all rows that contains "?" anywhere in App column
file = file[~file['App'].str.contains('?',regex=False)==True]

In [462]:
#after removing those rows
file.shape

(10653, 13)

In [463]:
#Lets change the case of App column because it is having different case and is repeating
file["App"] = file["App"].str.title()

In [464]:
#For dropping duplicate values we must first sort the values so the latest and 
#with highest instals and review doesn't get removed
file.sort_values(by=['App','Last Updated','Installs','Reviews'],ascending=False,inplace=True)

In [465]:
#Lets drop  the Apps and keep first value and remove below duplicates
file.drop_duplicates('App',keep="first",inplace=True)

In [466]:
#Lets check the number of rows and columns that are now left
file.shape

(9454, 13)

In [467]:
#Lets set the first column that is App as index 
file.set_index('App',inplace=True)

In [468]:
#Lets check unique values in categorical variables 
#Lets check unique values in Category Column
print(file['Category'].unique())

['SHOPPING' 'MAPS_AND_NAVIGATION' 'NEWS_AND_MAGAZINES' 'GAME' 'FAMILY'
 'COMMUNICATION' 'PERSONALIZATION' 'TOOLS' 'SPORTS' 'HOUSE_AND_HOME'
 'AUTO_AND_VEHICLES' 'DATING' 'LIFESTYLE' 'BUSINESS' 'PARENTING'
 'HEALTH_AND_FITNESS' 'FOOD_AND_DRINK' 'MEDICAL' 'FINANCE' 'ENTERTAINMENT'
 'SOCIAL' 'TRAVEL_AND_LOCAL' 'PHOTOGRAPHY' 'VIDEO_PLAYERS'
 'LIBRARIES_AND_DEMO' 'BOOKS_AND_REFERENCE' 'WEATHER' 'PRODUCTIVITY'
 'EVENTS' 'ART_AND_DESIGN' 'BEAUTY' 'COMICS' 'EDUCATION' '1.9']

As we can see though data type of Category is string it is having numeric value in it so that row is of no use.
Thus we will remove that row

In [469]:
#Lets check for which App the value of category is 1.9
print(file[file['Category']=='1.9'])

                                        Category  Rating  Reviews    Size  \
App
Life Made Wi-Fi Touchscreen Photo Frame      1.9    19.0      NaN  1,000+

                                         Installs Type  Price Content Rating  \
App
Life Made Wi-Fi Touchscreen Photo Frame       NaN    0    NaN            NaN

                                                    Genres Last Updated  \
App
Life Made Wi-Fi Touchscreen Photo Frame  February 11, 2018          NaN

                                        Current Ver Android Ver
App
Life Made Wi-Fi Touchscreen Photo Frame  4.0 and up         NaN

In [470]:
#So now lets remove the row for this particular app
file.drop("Life Made Wi-Fi Touchscreen Photo Frame",inplace=True)

In [471]:
#Lets check unique values in category now to confirm if it got removed or not
print(list(file['Category'].unique()))

['SHOPPING', 'MAPS_AND_NAVIGATION', 'NEWS_AND_MAGAZINES', 'GAME', 'FAMILY', 'COMMUNICATION', 'PERSONALIZATION', 'TOOLS', 'SPORTS', 'HOUSE_AND_HOME', 'AUTO_AND_VEHICLES', 'DATING', 'LIFESTYLE', 'BUSINESS', 'PARENTING', 'HEALTH_AND_FITNESS', 'FOOD_AND_DRINK', 'MEDICAL', 'FINANCE', 'ENTERTAINMENT', 'SOCIAL', 'TRAVEL_AND_LOCAL', 'PHOTOGRAPHY', 'VIDEO_PLAYERS', 'LIBRARIES_AND_DEMO', 'BOOKS_AND_REFERENCE', 'WEATHER', 'PRODUCTIVITY', 'EVENTS', 'ART_AND_DESIGN', 'BEAUTY', 'COMICS', 'EDUCATION']

In [472]:
#Lets check unique values in Rating column
print(file['Rating'].unique())

[3.9 4.2 4.9 3.8 nan 2.9 4.4 4.5 4.  3.2 3.6 4.1 4.6 4.3 3.7 4.7 3.5 5.
 4.8 3.1 2.8 1.9 3.4 3.3 2.7 1.8 2.4 2.3 2.5 3.  2.  2.6 1.  2.2 2.1 1.4
 1.6 1.5 1.2 1.7]

In [473]:
#Lets check number of null or na values
file['Rating'].isna().sum()

1408

In [474]:
#Lets the check unique values in Type column
print(file['Type'].unique())

['Free' 'Paid' nan]

In [475]:
#Lets check how many nan or null values are there in Type column
file['Type'].isnull().sum()

1

In [442]:
file.isna().sum()

Category             0
Rating            1408
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In [476]:
#Lets check  unique values in Content Rating column
print(file['Content Rating'].unique())

['Everyone' 'Everyone 10+' 'Teen' 'Mature 17+' 'Adults only 18+' 'Unrated']

In [477]:
#lets see if this column is having any null or nan values
file['Content Rating'].isna().sum()

0

In [478]:
#Lets check unique values in Genres column 
list(file['Genres'].unique())

['Shopping',
 'Maps & Navigation',
 'News & Magazines',
 'Arcade',
 'Education',
 'Communication',
 'Personalization',
 'Tools',
 'Sports',
 'Entertainment',
 'Casino',
 'House & Home',
 'Auto & Vehicles',
 'Education;Education',
 'Dating',
 'Lifestyle',
 'Business',
 'Puzzle',
 'Parenting;Education',
 'Simulation',
 'Health & Fitness',
 'Action',
 'Strategy',
 'Food & Drink',
 'Medical',
 'Finance',
 'Social',
 'Educational;Education',
 'Travel & Local',
 'Photography',
 'Video Players & Editors',
 'Entertainment;Music & Video',
 'Trivia',
 'Libraries & Demo',
 'Books & Reference',
 'Casual',
 'Weather',
 'Productivity',
 'Racing;Action & Adventure',
 'Events',
 'Adventure',
 'Art & Design',
 'Books & Reference;Creativity',
 'Beauty',
 'Puzzle;Action & Adventure',
 'Card',
 'Board;Pretend Play',
 'Word',
 'Puzzle;Brain Games',
 'Role Playing',
 'Parenting',
 'Racing',
 'Comics',
 'Educational',
 'Board',
 'Comics;Creativity',
 'Art & Design;Creativity',
 'Board;Brain Games',
 'Simulation;Education',
 'Adventure;Action & Adventure',
 'Casual;Action & Adventure',
 'Simulation;Pretend Play',
 'Casual;Brain Games',
 'Music & Audio;Music & Video',
 'Educational;Creativity',
 'Education;Pretend Play',
 'Educational;Pretend Play',
 'Education;Creativity',
 'Board;Action & Adventure',
 'Adventure;Brain Games',
 'Action;Action & Adventure',
 'Strategy;Action & Adventure',
 'Lifestyle;Pretend Play',
 'Health & Fitness;Education',
 'Casual;Pretend Play',
 'Role Playing;Action & Adventure',
 'Arcade;Action & Adventure',
 'Music',
 'Card;Brain Games',
 'Simulation;Action & Adventure',
 'Entertainment;Brain Games',
 'Entertainment;Creativity',
 'Music;Music & Video',
 'Education;Music & Video',
 'Educational;Brain Games',
 'Casual;Education',
 'Entertainment;Action & Adventure',
 'Education;Brain Games',
 'Entertainment;Pretend Play',
 'Puzzle;Education',
 'Lifestyle;Education',
 'Casual;Creativity',
 'Education;Action & Adventure',
 'Sports;Action & Adventure',
 'Tools;Education',
 'Role Playing;Pretend Play',
 'Parenting;Music & Video',
 'Parenting;Brain Games',
 'Communication;Creativity',
 'Art & Design;Action & Adventure',
 'Strategy;Education',
 'Racing;Pretend Play',
 'Adventure;Education',
 'Role Playing;Education',
 'Role Playing;Brain Games',
 'Educational;Action & Adventure',
 'Arcade;Pretend Play',
 'Entertainment;Education',
 'Strategy;Creativity',
 'Books & Reference;Education',
 'Health & Fitness;Action & Adventure',
 'Puzzle;Creativity',
 'Art & Design;Pretend Play',
 'Video Players & Editors;Music & Video',
 'Card;Action & Adventure',
 'Travel & Local;Action & Adventure']

In Genre we can see that there is redundancy there is Education as well as Educational so they must be same thus we will replace Educational with Education and ";" must be replaced with "," because values are separated by ","

In [479]:
#Replacing Educational with Education in Genre Column
file['Genres'] = file['Genres'].str.replace('Educational', 'Education')

In [480]:
#Replacing ";" with "," in Genre Column
file['Genres'] = file['Genres'].str.replace(';', ',')

In [481]:
#Lets see if it contains any null or na values
file['Genres'].isna().sum()

0

Our inspection of unique values has been done

There are more things to be cleaned which we will do in excel so lets save this file now.

In [451]:
#lets save this file
file.to_csv("playstore_apps_cleaned.csv", encoding='utf-8')